* {
	margin: 0;
	padding: 0;
}
body {
	background: #eee;
	color: #333;
	font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0 auto;
	text-align: center;
}
#container {
	background: #fff;
	margin: 0 auto;
}
header {
	border-bottom: 1px solid #ddd;
	font-size: 28px;
	padding: 0 0 7px;
}
#large {
	margin: 0px auto 32px auto;
	padding: 12px 0 4px 0;
	img {
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
		-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
		box-shadow: 0px 0px 6px rgba(0,0,0,.3);
		width: 90%;
		border-radius: 8px;
	}
}
.details {
	border-bottom: 1px solid #ddd;
	text-align: left;
	margin: 24px;
	display: none;
	p {
		border-top: 1px solid #ddd;
		font-size: 12px;
		margin: 0;
		padding: 7px 0;
	}
	strong {
		background: #555;
		color: #fff;
		font-size: 10px;
		font-weight: normal;
		padding: 2px 5px;
		text-transform: uppercase;
	}
}
.thumbnails {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto;
	position: relative;
	padding: 16px 0;
	a {
		color: #777;
		display: inline-block;
		margin: 0 5px;
		position: relative;
		text-align: center;
		text-decoration: none;
		&:hover {
			img {
				border-color: #eee;
			}
			span {
				background: #ddd;
			}
		}
		&:active {
			img {
				border-color: #aaa;
			}
			span {
				background: #aaa;
				color: #fff;
			}
		}
		span {
			background: #eee;
			-moz-border-radius: 22px;
			-webkit-border-radius: 22px;
			border-radius: 22px;
			font-weight: bold;
			font-size: 12px;
			margin: 5px auto 0 auto;
			padding: 2px 15px;
		}
	}
	img {
		border: 5px solid transparent;
		display: block;
		margin: 0 0 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	.active {
		img {
			border-color: #a41d0f;
		}
		&:hover {
			img {
				border-color: #a41d0f;
			}
		}
	}
	a.active {
		span {
			background: #a41d0f;
			color: #fff;
		}
	}
	.previous {
		float: none;
		height: 24px;
		position: absolute;
		text-indent: -9999em;
		top: -24px;
		width: 24px;
	}
	.next {
		float: none;
		height: 24px;
		position: absolute;
		text-indent: -9999em;
		top: -24px;
		width: 24px;
	}
}
.previous {
	background: url(/images/previous.png) no-repeat 0 0;
	left: 10px;
	&:hover {
		opacity: .6;
	}
	&:active {
		opacity: 1;
	}
}
.next {
	background: url(/images/next.png) no-repeat 0 0;
	right: 10px;
	&:hover {
		opacity: .6;
	}
	&:active {
		opacity: 1;
	}
}
.disabled {
	opacity: .2 !important;
}
footer {
	font-size: 12px;
	padding: 25px 0 0 0;
}
.group {
	&:before {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
		clear: both;
	}
	zoom: 1;
}
.group-hide {
	display: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		padding: 50px;
	}
	#container {
		-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
		-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
		box-shadow: 0px 0px 12px rgba(0,0,0,.3);
		margin: 0 auto;
		padding: 24px;
		min-height: 300px;
		width: 860px;
		display: block;
	}
	#large {
		margin: 25px auto;
		width: 700px;
		img {
			float: left;
			width: 430px;
			height: 360px;
		}
	}
	.details {
		float: right;
		width: 250px;
		margin: 0;
		display: block;
	}
	.thumbnails {
		border: 1px solid #ddd;
		padding: 10px 45px;
		width: 660px;
		.previous {
			top: 64px;
		}
		.next {
			top: 64px;
		}
	}
}
